<div class="flex-shrink-0 p-3" style="width: 280px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#home-collapse">
                content
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="mb-1">
                        <a href="/keys?service=content" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#x-collapse"> content child </a>
                        <div class="collapse" id="x-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 20px;">
                                <li><a href="/keys?service=content&pattern=ott" class="link-dark d-inline-flex text-decoration-none rounded">ott</a> </li>
                                <li><a href="/keys?service=content&pattern=iptv" class="link-dark d-inline-flex text-decoration-none rounded">iptv</a></li>
                                <li><a href="/keys?service=content&pattern=vod" class="link-dark d-inline-flex text-decoration-none rounded">vod</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <a href="/keys?service=content" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#y-collapse"> content child 2 </a>
                        <div class="collapse" id="y-collapse"  style="padding-left: 5px;">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"  style="padding-left: 20px;">
                                <li> <a href="#" class="link-dark d-inline-flex text-decoration-none rounded">ott 2</a> </li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">iptv 2</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">vod 2</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#orders-collapse">
                playos4
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">US-UK </a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">VN</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">K-POP</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>